@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Oswald:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Oswald:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
* {
    text-decoration: none;
    padding:0; margin:0;
    box-sizing: border-box;
}

:root {
    --main-color: #2FB1E2;
    --main-color2: #413E66;
    --main-transition-duration: 0.3s;
}

body {
    font-family: 'rubik', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Start Navbar */


.header {
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding-top: 20px;
}




.header .container::after {
    content: '';
    display: block;
    height: 1px;
    position: relative;
    background-color: #d69191;
    width: 100%;
    top: 50px;
    opacity: 0.3;
}

.header .main-nav {
    display: flex;
    transform: translate(0, 22px);
}


@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}



.header .container .main-nav .logo {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatey(-8px);
    cursor: pointer;
}


@media (max-width: 767px) {
    .header .container .main-nav .logo {
        font-size: 20px;
        transform: translateY(-1px);
    }
}


.header .container li > a {
    margin-left: 35px;
    font-size: 17px;
    color: #c9a6a6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

@media (max-width: 767px) {
    .header .container li > a {
        margin-top: 22px;
        margin-bottom: 24px;
    }
}

.header .container li > a::after {
    content: "";
    position: absolute;
    left: 0;
    height: 5px;
    width: 0;
    bottom: -15px;
    background-color: orange;
    transition: var(--main-transition-duration);
}

.header .container li > a:hover::after {
    width: 100%;
    transition: var(--main-transition-duration);
}

.cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 17px);
}

.cart i {
    color: #c9a6a6;
    font-size: 20px;
    cursor: pointer;
}


@media (max-width: 767px) {
    .cart i {
        transform: translate(130px, -5px);
        margin-top: 20px;
    }
}



.cart i:hover {
    color: orange;
    transition: var(--main-transition-duration);
}

.cart i div {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    position: relative;
    bottom: 10px;
    background-color: orange;
    border-radius: 8px;
    width: 19px;
    height: 15px;
    color: #fff;
    font-family: sans-serif;
    user-select: none;
}

.cart img {
    width: 24%;
    position: relative;
    /*bottom: -21px;*/
    margin-left: 20px;
    cursor: pointer;
    user-select: none;
}


@media (max-width: 767px) {
    .cart img {
        transform: translate(140px, -5px);
        width: 40px;
        margin-top: 20px;
    }
}

.cart-box {
    width: 350px;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 60px;
    padding: 4rem 4rem;
    border-radius: 8px;
    text-align: center;
    position: relative;
    left: -11020px;
    bottom: 40px;
    font-family: 'cairo', sans-serif;
    z-index: 10000;
}


@media (max-width: 767px) {
    .cart-box {
        transform: translate(-1156px, -11px);
    }
}

.cart-box.active {
    position: relative;
    left: 1110px;
}

.cart-box h4 {
    position: relative;
    bottom: 55px;
    user-select: none;
}

.cart-box h4::after {
    content: "";
    display: block;
    width: 158.5%;
    background-color: orange;
    height: 1px;
    position: absolute;
    left: -65px;
}

.cart-box .cart-content img {
    width: 25%;
    border-radius: 10px;
    transform: translate(-125px, -26px);
}

.cart-box .cart-content p {
    transform: translate(32px,-98px);
    font-size: 17px;
    color: #797070;
}

.cart-box .cart-content p span {
    color: black;
    font-weight: bold;
}

.cart-box button {
    width: 280px;
    height: 50px;
    cursor: pointer;
    background-color: orangered;
    position: relative;
    bottom: 50px;
    right: 27px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'cairo';
    font-weight: bold;
    transition: var(--main-transition-duration);
}

.cart-box button:hover {
    transition: var(--main-transition-duration);
    background-color: rgb(172, 140, 80);
}

.profile-box {
    width: 250px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 60px;
    padding: 4rem 4rem;
    border-radius: 8px;
    text-align: center;
    position: relative;
    left: -11120px;
    bottom: 350px;
    z-index: 10000;
}


@media (max-width: 767px) {
    .profile-box {
        transform: translate(-1218px, -11px);
    }
}

.profile-box.active1 {
    position: relative;
    left: 1250px;
}

.profile-box h4 {
    position: relative;
    bottom: 50px;
    font-size: 15px;
    color: #c9a6a6;
    font-family: 'cairo';
}

.profile-box h4::after {
    content: "";
    display: block;
    width: 200%;
    background-color: orange;
    height: 1px;
    position: absolute;
    left: -60px;
    top: 47px;
}

.profile-box .details div {
    position: relative;
    left: 20px;
    bottom: 35px;
    cursor: pointer;
}



.profile-box .details i {
    font-size: 20px;
    position: relative;
    right: 50px;
    bottom: 14px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.profile-box .details i:hover {
    transition: var(--main-transition-duration);
    color: orange;
}

/* End Navbar */




/* Start Landing */

.landing {
    position: relative;
}

.landing .container {
    display: flex;
    width: 1120px;
    justify-content: center;
    align-items: center;
    transform: translateY(-500px);
}


.landing .container::after {
    display: none;
}



.landing img {
    width: 40%;
    border-radius: 8px;
    margin-right: 225px;
}


@media (max-width: 767px) {
    .landing img {
        width: 34%;
        transform: translate(-88px, 10px);
    }
}



@media (max-width: 767px) {
    .landing .landing-content {
        transform: translate(-666px, 560px);
        text-align: center;
    }
}

.landing .landing-content h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: orangered;
    margin-bottom: 20px;
}


.landing .landing-content h2 {
    font-size: 41px;
    font-family: 'rubik';
    margin-bottom: 20px;
}


.landing .landing-content p {
    font-size: 15px;
    line-height: 32px;
    opacity: 0.8;
}


@media (max-width: 767px) {
    .landing .landing-content p {
        position: relative;
        right: 10px;
        font-size: 13px;
    }
}

.landing .landing-content h3 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'cairo';
    user-select: none;
}

.landing .landing-content h3 span {
    margin-left: 50px;
    font-size: 21px;
    opacity: 0.5;
}

.landing .landing-content h3 span::after {
    content: "";
}



.landing .landing-content .dis {
    position: relative;
    opacity: 0.5;
    margin-top: -3px;
    font-size: 18px;
    margin-bottom: 20px;
    user-select: none;
}



.landing .landing-content .dis::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 15%;
    background-color: rgb(98, 61, 61);
    left: -2px;
    bottom: 15px;
    opacity: 0.5;
}


@media (max-width: 767px) {
    .landing .landing-content .dis::after {
        position: absolute;
        left: 147px;
    }
}

.landing-content .increase {
    font-size: 20px;
    position: fixed;
    margin-left: 135px;
    bottom: 80px;
    cursor: pointer;
    margin-bottom: 20px;
    color: orange;
}

@media (max-width: 767px) {
    .landing-content .increase {     
        bottom: 0px;
    }
}

.landing-content .decrease {
    margin-left: 60px;
    font-size: 20px;
    margin-left: 0;
    position: fixed;
    cursor: pointer;
    bottom: 99px;
    display: none;
    color: orange;
}


@media (max-width: 767px) {
    .landing-content .decrease {     
        bottom: 19px;
    }
}

.landing-content .decrease.appear {
    display: block;
    
}

.landing-content .input {
    position: fixed;
    font-size: 17px;
    right: 348px;
    bottom: 97px;
    user-select: none;
    font-family: 'cairo';
    font-weight: bold;
}


@media (max-width: 767px) {
    .landing-content .input {
        right: 264px;
        bottom: 18px;
    }
}

.landing-content button {
    width: 200px;
    height: 50px;
    left: 200px;
    cursor: pointer;
    background-color: orangered;
    position: relative;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'cairo';
    font-weight: bold;
    transition: var(--main-transition-duration);
}

.landing-content button:hover {
    transition: var(--main-transition-duration);
    background-color: rgb(172, 140, 80);
}


@media (max-width: 767px) {
    .landing-content button {
        left: 86px;
        bottom: 8px;
        width: 148px;
    }
}


.landing .container .img-container {
    transform: translate(-107px, 20px);
}


@media (max-width: 767px) {
    .landing .container .img-container {
        transform: translate(-77px, 10px);
    }
}

.landing .container .img-container img {
    width: 10%;
    margin-right: 10px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.landing .container .img-container img.active-img {
    opacity: 0.5;
}

.landing .container .img-container img:hover {
    opacity: 0.5;
    transition: var(--main-transition-duration);
}







/* End Landing */
